:root{
    --main-color: black;
    --secondary-color: white;
    --detail-color: grey;
    --font-main-color: black;
    --font-secondary-color: white;
}

*{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(233, 233, 233);
}

/* HEADER */

.navbar-container{
    display:flex;
    background-color: var(--main-color);
    width: 100%;
    height: 80px;

    align-items: center;
    transition: background-color 0.3s;
}

.left-navbar-container{
    display: flex;
    width: 40vw;
    justify-content: flex-start;
    margin-left: 5vw;
}

.right-navbar-container{
    display: flex;
    width: 60vw;
    justify-content: flex-end;
    margin-right: 5vw;
}

.navbar-item{
    color: var(--font-secondary-color);

    transition: font-size 0.3s; 
}

.navbar-watermark{
    font-weight: 700;
    font-size: 1.5em;
    color: var(--font-secondary-color);

    transition: font-size 0.3s; 
}

.navbar-products, .navbar-contact, .navbar-about{
    padding-left: 2vw;
}

.navbar-instagram{
    padding-left: 25px;
    padding-top: 1px;
}

.change-navbar{
    background-color: rgba(0, 0, 0, 0.975);
}

/* PRODUCT LIST */

.products{
    display: flex;
    
    flex-wrap: wrap;
}

.products-search-display{
    display: inline-block;
    width: 100%;
}

/* SEARCH BAR  */

.search-for-products{
    height: 35px;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-filters{
    font-size: small;
    height: 30px;
    box-shadow:  0 0 4px black;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    outline: none;
    border: none;
    margin-right: 10px;
}

.products-search{
    outline: none;
    box-shadow:  0 0 4px black;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 30px;
    width: 50vw;

    transition: width 0.2s, height 0.2s;
}

.products-search:focus{
    width: 55vw;
    height: 35px;
    box-shadow: 0 0 6px black;
}

/* PRODUCT LIST */

.product-list{
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);

    margin-top: 5vh;
    margin-right: 5vw;
    margin-bottom: 100px;
    margin-left: 5vw;

    padding: 25px;
    
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(4, 16vw);
    column-gap: 5vh;
    row-gap: 10vh;
    justify-content: space-between;
}

.product-item{
    text-align: center;
    border-radius: 10px;
    padding-bottom: 15px;

    transition: box-shadow 0.3s;
}

.product-image{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.product-description{
    font-weight: bold;
    color: rgb(32, 32, 32);
}

.product-price{
    padding-top: 3px;
    font-weight: 1000;
    color:rgb(12, 12, 12);
}

.product-button{
    display: flex;
    justify-content: center;
}

.product-button-text{
    width: 60%;
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;

    transition: background-color 0.4s;
    color: white;
}

.product-button-text:hover{
    background-color: rgb(129, 43, 43);
}

.product-item:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
}

.change-product-list{
    display: none;
}

/* NO MATCHES */

.no-matches{
    display: none;
    margin-top: 50px;
    text-align: center;
    color: rgb(7, 7, 7);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.432);
}

.change-no-matches{
    display: block;
}

/* SPLITTER */

.splitter{
    display: none;
    flex-basis: 100%;
    height: 0;
}

/* RESPONSIVENESS */

@media (max-width: 1100px){
    .product-list{
        grid-template-columns: repeat(3, 20vw);
    }
    
    .product-image{
        width: 20vw;
    }
}

@media(max-width:900px){
    .navbar-instagram{
        padding-left: 15px;
    }
}

@media (max-width: 700px){
    .products-filters{
        height: 300px;
    }

    .splitter{
        display: 1;
    }
}

@media (max-width: 650px){  

    .splitter{
        display:block;
    }

    .products-search-display{
        width: 100%;
    }

    .product-list{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        column-gap: 5vw;
    }
    
    .product-image{
        width: 100%;
    }
}

@media (max-width: 500px){
    .navbar-watermark{
        font-size: 1.25em;
    }

    .navbar-item{
        font-size: 0.9em;
    }
}

@media (max-width: 450px){
    .navbar-watermark{
        font-size: 1em;
    }

    .navbar-item{
        font-size: 0.8em;
    }

    .navbar-instagram{
        padding-left: 10px;
    }

    .products-search-display{
        width: 100%;
    }

    .product-list{
        grid-template-columns: 1fr;
        justify-content: center;
        column-gap: 0;
        padding: 20px;
    }
    
    .product-image{
        width: 100%;
    }
}

@media (max-width: 370px){
    .navbar-item{
        font-size: 0.7em;
    }
}

@media (max-width: 330px){
    .navbar-item{
        font-size: 0.6em;
    }
}

/* TEST */

.test{
    width: 300px;
    height: 300px;
    background-color: black;
}